/**** ALL ****/

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

/**** SECTIONS ****/

.color-section {
    background-color: #4cb7ff;
    color: #000000;
}

.white-section {
    background-color: #FFFFFF;
}

/**** HEADINGS ****/

.big-heading {
    color: #000000;
    font-weight: 900;
    font-style: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

.icon{
    color: #4cb7ff;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #4cb7ffaf;
}



/**** TITLE ****/

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 991px) {
/*
    #title {
        text-align: center;
    }
    */

    .title-image {
        width: 35%;
        position: absolute;
        align-items: center;
    }
}

.image-position {
    padding: 5% 10% 10%;
}




/**** FEATURES ****/

.feature-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
}

#features {
    padding: 7% 15%;
    position: relative;
}



/**** TESTIMONIALS ****/

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

#testimonials {
    background-color: #4cb7ff;
    color: #fff; 
}



/**** PRESS ****/

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #4cb7ff;
    padding-bottom: 3%;
}



/**** PRICING ****/

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

#pricing {
    padding: 100px;
}



/**** CTA ****/



/**** FOOTER ****/

.footer-icon {
    margin: 20px 10px;
}
